#contact_modal {
    display: none;
}

article {
line-height: 40%;
text-align: center;
display: block !important;
}

a {
    text-decoration: none;
}

.colorBlack {
    color: black;
    font-weight: bold;
}

/*Header profil photographe*/

.photograph-header h2 {
    color: #D3573C;
    font-size: 45px;
    letter-spacing: 2px;
}

.photograph-header h3 {
    color: #901C1C;
    font-size: 25px;
}

.photograph-header h4 {
    color: gray;
    font-size: 20px;
}


.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 30px 80px;
    position: static;
}

.text-header {
    display: flex;
    flex-direction: column;
    line-height: 1px;
    position: static;
    margin-left: -20px;

}

#nameModal {
    margin-top: 85px;
}

.imagePhotographProfil {
    display: flex;
    height: 220px;
    width: 220px;
    margin-left: 900px;
    margin-top: -150px;
    position: static;
}

.contact_button {
    color: white;
    background-color: #901C1C;
    border: #901C1C;
    padding: 2%;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 480px;
    position: static;
    display: flex;
    margin-top: -110px;
    border: #901C1C;
}

/*Grille photos profil photographe*/


.grillePhotosProfil_main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3%;
    justify-content: space-around;
    margin: 10px 30px;
}

.grillePhotosProfil_main img {
  height: 18rem;
  width: 21rem;
  object-fit: cover;
  border-radius: 5px;
  object-position: 50% 17%;
}

.titreMedia {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 14rem;
    color: #901C1C;
    text-align: left;
  }
  
  .video_main {
    width: 340px;
    height: 290px;
    object-fit: cover;
    border-radius: 5px;
  }

/*.grillePhotosProfil_main article {
    display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.imagePhotographProfil_main {
    height: 220px;
    width: 220px;
}*/

/* Titre et like des photos  */  
.nombreLike {
  color: #901C1C;
  margin-left: 55px;
  font-size: 1.25rem;
  cursor: pointer;
}

i {
  font-family: "Font Awesome 5 Free";
  font-weight: 501;
  font-size: 1.25rem;
  cursor: pointer;
  font-style: normal;
}

.titreLike {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/* Début menu déroulant */  
.menuTrier {
    position: relative;
  }
  
  #liste {
    margin-left: 2.5rem;
  }
  
  /* trier par + liste deroulante */
  .sectionTrier {
    display: flex;
    flex-direction: row;
    max-width: 67%;
    margin: 0 75px;
    padding-top: 1%;
  }
  
  select {
    color: white;
    background-color: #901C1C;
    border: #901C1C;
    padding: 2%;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 5px;
  }


  option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    color: white;
    background-color: #901C1C; /*marche passsss*/
}
  
  
/* Fin menu déroulant */  
 
.banniereLikes_section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bann);
    width: 23rem;
    height: 4.5rem;
    position: fixed;
    z-index: 1;
    border-radius: 5px;
    bottom: 0;
    right: 0%;
    font-size: 1.5rem;
    font-weight: 500;
}

#totalLike::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f004";
    font-size: 1.4rem;
    cursor: pointer;
    padding-left: 5px;
  }

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}